{% extends "layout.html" %}

{% block content %}
<div class="center">
    <h1 style="font-size:30px;"><b>Enter Hours</b></h1>
    <form method="POST" action="/enterHours">
         <center><table>
           <tr><td style="font-size:15px;">Employee</td><td><select name="employee">
					{% for element in myList %}
					<option value={{element[0]}}>{{element[1]}} {{element[2]}}</option>
					{% endfor %}</select>
			</td></tr>
			<tr><td style="font-size:15px;">Job Id</td><td><select name="jobId">
					{% for element in myListTwo %}
					<option value={{element[0]}}>{{element[1]}}</option>
					{% endfor %}</select>
			</td></tr>
			<tr><td style="font-size:15px;">Start Time</td><td><select name="startTimeHour">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option></select>
			        <select name="startTimeMin">
					<option value="0">00</option>
					<option value="15">15</option>
					<option value="30">30</option>
					<option value="45">45</option></select>
					<select name="startTimeAM">
					<option value="AM">AM</option>
					<option value="PM">PM</option></select>
			</td></tr>
			<tr><td style="font-size:15px;">End Time</td><td><select name="endTimeHour">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option></select>
			        <select name="endTimeMin">
					<option value="0">00</option>
					<option value="15">15</option>
					<option value="30">30</option>
					<option value="45">45</option></select>
					<select name="endTimeAM">
					<option value="AM">AM</option>
					<option value="PM">PM</option></select>
			</td></tr>
        </table></center>
        <input type="submit" value="Enter Hours" />
    </form><center>
     {% if error == True %}<p><span style="color:red;"><b>Invalid Hour Entry.</b></span></p>{% endif %}</center>
</div>
{% endblock %}