<!DOCTYPE HTML>
<html>

<head>
  <title>Landscape Payroll</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
  <!---<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.css') }}" />--->
</head>
<body>
  <div class="container">
   <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          {% if loggedIn == True %}
            <li  {% if selectedMenu == "Home" %} class="selected" {% endif %}  >
            <a href="/?name=" {{session['username']}}>Home</a></li>
          {% endif %}
          {% if loggedIn == True %}<li  {% if selectedMenu == "Enter Hours" %} class="selected" {% endif %}  >
            <a href="/enterHours">Enter Hours</a></li>{% endif %} 
          {% if loggedIn == True %}<li  {% if selectedMenu == "Download Timesheet" %} class="selected" {% endif %}  >
            <a href="/download">Download Timeheet</a></li>{% endif %} 
          {% if loggedIn == True %}<li  {% if selectedMenu == "Add Employee" %} class="selected" {% endif %}  >
            <a href="/addEmployee">Add Employee</a></li>{% endif %}
          {% if loggedIn == True %}<li  {% if selectedMenu == "Add Job" %} class="selected" {% endif %}  >
            <a href="/addJob">Add Job</a></li>{% endif %}
          {% if loggedIn == True %}<li  {% if selectedMenu == "Delete Employee" %} class="selected" {% endif %}  >
            <a href="/deleteEmployee">Delete Employee</a></li>{% endif %}
          {% if loggedIn != True %}<li  {% if selectedMenu == "Log In" %} class="selected" {% endif %}  >
            <a href="/login">Log In</a></li>{% endif %}
          {% if loggedIn != True %}<li  {% if selectedMenu == "Register" %} class="selected" {% endif %}  >
            <a href="/register">Register</a></li>{% endif %}
          {% if loggedIn == True %}<li><a href="/logout">Logout</a></li>{% endif %}
        </ul>
      </div>
   {%block content %}{% endblock %}
   <div id="footer">
      <br></br>
      <br></br>
      <br></br>
      <p><a href="/">Home</a></p>
      <p>Copyright &copy; simple_light | <a href="http://www.umw.edu/">UMW</a> | <a href="http://www.html5webtemplates.co.uk">design from HTML5webtemplates.co.uk</a></p>
    </div>
    
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/npm.js') }}"></script>
    </div>
</body>


</html>
